// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
 $white:#FFFFFF;
 $blue-light: #E4EFF8;
 $title: #354451;
 $text-field-rounded-border-radius: 10px;
 $text-field-border-radius: 10px;
 $text-field-outlined-fieldset-border: 1px solid #B8DAF7;
 $text-field-outlined-fieldset-border: 2px solid #B8DAF7;